BIRDEYE_API_KEY=replace_with_new_key
BIRDEYE_CHAIN=solana

TOKEN_TOP_N=20
TOKEN_MIN_AGE_HOURS=4
TOKEN_MAX_AGE_HOURS=168
TOKEN_MIN_FDV=500000
TOKEN_MIN_LP_FDV_RATIO=0.10

CANDIDATE_MAX_SIZE=150
FORMAL_MAX_SIZE=100

HTTP_TIMEOUT=20
HTTP_RETRIES=3
WALLET_CONCURRENCY=3
GENERAL_CONCURRENCY=6
